/* vars */

:root {
    /* Colours */
    --defaultText:              #0c0c0c;
    --actionBlue:               #4A94E9;
    --actionHover:              #f1614e;
    --dark:                     #242424;
    --mainBrandColour:          #32AA39;
    --mapCompliment:            #F3F2EF;

    --channelPlanning:          #4A94E9;
    --channelDemocracy:         #928052;
    --channelEvents:            #D84D00;
    --channelCommunity:         #8DB23F;
}

/* reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
img {
    max-width: 100%;
}
html {
    box-sizing: border-box;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
b,
strong {
    font-weight: 700;
}
i,
em,
dfn {
    font-style: italic;
}
h1 {
    margin: 0.67em 0;
    font-size: 2em;
}
small {
    font-size: 80%;
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
mark {
    background-color: rgba(5, 150, 168, 0.2);
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    color: inherit;
    font: inherit;
}
button {
    overflow: visible;
    border: none;
    background-color: transparent;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input {
    line-height: normal;
}
input:focus {
    outline: none;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    box-sizing: content-box;
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
legend {
    padding: 0;
    border: 0;
}
textarea {
    overflow: auto;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
td,
th {
    padding: 0;
}

/* app */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    font-size: 16px;
}
body {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: var(--defaultText);
    -webkit-overflow-scrolling: touch;
    font-family: soleil, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}
a, .link-style {
    color: var(--actionBlue);
    text-decoration: none;
}

a:hover, .link-style:hover {
    text-decoration: underline;
}
.invisible {
    visibility: hidden;
}
.hidden {
    display: none !important;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.scroll-flavoured::-webkit-scrollbar {
    height: 15px;
    width: 15px;
    background-color: darkgrey;
}
.scroll-flavoured::-webkit-scrollbar-thumb {
    background: white;
}
.scroll-flavoured::-webkit-scrollbar-corner {
    background: lightgrey;
}
@media only screen and (max-width: 600px) {
    .scroll-flavoured::-webkit-scrollbar {
        width: 2px;
    }
}
.hide {
    display: none !important;
}
.clear {
    clear: both;
}

/* headings */

html {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 30px;
    line-height: 1.5;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

h1 {
    /*font-size: 2rem;*/
    font-size: 1.75rem;
}
h2 {
    /*font-size: 1.75rem;*/
    font-size: 1.625rem;
}
h3 {
    /*font-size: 1.625rem;*/
    font-size: 1.5rem;
}
h4 {
    /*font-size: 1.5rem;*/
    font-size: 1.25rem;
}
h5 {
    /*font-size: 1.25rem;*/
    font-size: 1.125rem;
}
h6 {
    font-size: 1.125rem;
}

/* ie 10/11 hax */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

}
/* edge hax */
@supports (-ms-ime-align:auto) {

}

@media (min-width: 795px) {

}
@media (min-width: 1150px) {
    html {
        /*font-size: 16px;*/
    }
    body {
        /*font-size: 1.125rem;*/
    }
    h1 {
        font-size: 2.25rem;
    }
    h2 {
        font-size: 1.875rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1.625rem;
    }
    h5 {
        font-size: 1.5rem;
    }
    h6 {
        font-size: 1.25rem;
    }
}

p {
    margin: 0 0 30px 0;
}
/*p:last-of-type {*/
/*    margin: 0 0 0 0;*/
/*}*/