<script id="init" type="text/html">
    <!-- Setup the app -->
    @api.websocketInit({"url":"{{config.ws}}"},{"queueRun":"Instant"});
    -api.websocketSend({"message":{"queue":"session","api":"session"}});
    -locus.defaultValues();
    -templates.render({"targetId":"#header-target","template":"#header"});
    -templates.render({"targetId":"#location-target","template":"#postcode-search"});
    -browser.initHistory({"checkURL":true,"default":"Home"});
    -openlayers.addMap({"target":"backMap","projection":"EPSG:27700"});
    -openlayers.addLayer({"name":"wms","type":"wms","url":"https://t3.ads.astuntechnology.com/surreyheath/ospremium/service","params":{"layers":"ospremium"},"active":true});
    -openlayers.addLayer({"name":"points","type":"vector","style":"styles.mainMapStyle"});

    @templates.render({"targetId":"#content-target","template":"#home-content"},{"queuePrepare":"historyHome"});
    -elements.addClass({"targetId":"body","class":"on-home"});


    @templates.render({"targetId":"#content-target","template":"#page-content"},{"queuePrepare":"historyCat"});
    -internals.execute({"name":"reloadCat"});
    -elements.removeClass({"targetId":"body","class":"on-home"});

    @api.websocketSend({"message":{"queue":"points","api":"api","data":{"method":"pointsearch","search_text":"{{!memory.myKeywords.value}}","location_distance":"{{!^memory.myDistance.value*1609}}","category":"{{!memory.history.value}}","limit":100,"location":"{{!memory.myLocation.value}}" }}},{"queuePrepare":"reloadCat"});

    <!-- turn postcode into location -->
    @api.websocketSend({"message":{"queue":"postcode","api":"api","data":{"method":"address_search","address":"{{!memory.myPostcode.value}}"}}},{"queuePrepare":"getLocation"});

    @internals.setMemory({"name":"location","value":"SRID=4326;POINT({{!memory.postcode.value.packet.features[0].geometry.coordinates[0]}} {{!memory.postcode.value.packet.features[0].geometry.coordinates[1]}})","mode":"Permanent"},{"queuePrepare":"postcode"});

    <!-- Point search -->

    @templates.render({"targetId":".results-item-list","template":"#page-content-results"},{"queuePrepare":"points"});

    <!-- ws admin stuff -->
    @internals.nop({},{"queuePrepare":"session"});

    @api.websocketInit({"url":"{{config.ws}}"},{"queuePrepare":"wsClose"});
</script>

<script id="header" type="text/html">
    <div>
        <a class="logo" href="/" rel="home" @browser.addHistory({"history":"Home"});>
            <span class="sr-only">Surrey Heath</span>
        </a>

        <button class="button-back" type="button" @browser.backHistory();>
            <span class="sr-only">Back to previous screen</span>
        </button>

        <button id="open-search-mobile" type="button" class="search-site-open no-lg-res" aria-label="Open search" aria-haspopup="true" aria-controls="searchSite" @elements.toggleClass({"targetId":".page-header","class":"open-search"});>
            <span class="sr-only">Open search</span>
        </button>
        <form id="searchSite" class="search-site" aria-label="Search the site for information">
            <div>
                <input type="text" value="">
                <button class="button-search-site">Find</button>
            </div>
        </form>

        <nav class="main-menu" role="navigation">
            <!-- accessible menu -->
        </nav>
    </div>
</script>

<script id="postcode-search" type="text/html">
    <div id="backMap"></div>

    <form class="your-current-postcode">
        <label for="postcode">Your location is set to:</label>
        <input id="postcode" class="postcode-field" value="{{memory.myPostcode.value}}">

        <button type="button" class="change-postcode edit-loc" aria-label="Open search" aria-haspopup="true" aria-controls="searchSite" @elements.toggleClass({"targetId":"body","class":"open-loc"});>
            Change your location
        </button>

        <!-- should this be submit? -->
        <button type="button" class="change-postcode set-loc" aria-label="Open search" aria-haspopup="true" aria-controls="searchSite" @elements.toggleClass({"targetId":"body","class":"open-loc"});>
                -internals.setMemory({"name":"myPostcode","value":"{{!queue.getElement('#postcode').value}}","mode":"Permanent"});
                -api.websocketSend({"message":{"queue":"postcode","api":"api","data":{"method":"address_search","address":"{{!queue.getElement('#postcode').value}}"}}});
                -internals.execute({"name":"reloadCat"});
            Set this as your location
        </button>
    </form>
</script>

<script id="home-content" type="text/html">

    <section class="side-panel">

    </section>
    <section class="main-content">
        <h1>Welcome to Surrey Heath's community mapping tool</h1>
        <p>A short explanatory message encouraging users to set their location and explore one (or all) of the 4 channels below: </p>
        <section class="channels">
            <div class="channel channel-planning">
                <img src="images/channel-planning.jpg" title="" alt="">
                <h2>Planning</h2>
                <p><strong>Conservation Areas / TPO / Planning Applications</strong></p>
                <p>To gain access to 'types / sub classifications' of Planning information.</p>

                <button type="button" class="explore-channel" aria-label="Explore planning applications near this postcode" aria-haspopup="true" aria-controls="searchSite" @internals.setMemory({"name":"myKeywords","value":"","mode":"Permanent"});>
                        -browser.addHistory({"history":"Cat/Planning"});
                    Explore
                </button>

            </div>
            <div class="channel channel-planning">
                <img src="images/channel-planning.jpg" title="" alt="">
                <h2>Democracy</h2>
                <p><strong>Conservation Areas / TPO / Planning Applications</strong></p>
                <p>To gain access to 'types / sub classifications' of Planning information.</p>
                <button class="explore-channel"  @internals.setMemory({"name":"myKeywords","value":"","mode":"Permanent"});>Explore</button>
                    -browser.addHistory({"history":"Cat/Democracy"});
            </div>
            <div class="channel channel-planning">
                <img src="images/channel-planning.jpg" title="" alt="">
                <h2>Events</h2>
                <p><strong>Conservation Areas / TPO / Planning Applications</strong></p>
                <p>To gain access to 'types / sub classifications' of Planning information.</p>
                <button class="explore-channel"  @internals.setMemory({"name":"myKeywords","value":"","mode":"Permanent"});>Explore</button>
                -browser.addHistory({"history":"Cat/Events"});
            </div>
            <div class="channel channel-planning">
                <img src="images/channel-planning.jpg" title="" alt="">
                <h2>Community</h2>
                <p><strong>Conservation Areas / TPO / Planning Applications</strong></p>
                <p>To gain access to 'types / sub classifications' of Planning information.</p>
                <button class="explore-channel" @internals.setMemory({"name":"myKeywords","value":"","mode":"Permanent"});>Explore</button>
                -browser.addHistory({"history":"Cat/Community"});
            </div>
        </section>
    </section>

</script>

<script id="page-content" type="text/html">
    <section class="side-panel">
        <img src="images/channel-planning.jpg" title="" alt="" class="no-mb">
        <h2>{{memory.history.value}}</h2>
        <p class="no-mb">What the user is doing here, why they are doing it and how they go about doing it better.</p>
        <p class="results-number">Results for 0 - 80 miles</p>
        <button type="button" class="show-filters no-lg-res" aria-label="Open search" aria-haspopup="true" aria-controls="searchSite" @elements.toggleClass({"targetId":"body","class":"open-filters"});>
            Show/hide filters
        </button>
        <form class="search-filters">
            <div>
                <p><strong>Filter these results:</strong></p>
                <label>By distance:</label>
                <input type="number" id="distance" value="{{memory.myDistance.value}}" @internals.setMemory({"name":"myDistance","value":"{{!^parseFloat(queue.getElement('#distance').value)}}","mode":"Permanent"},{"queueEvent":"change,keydown"});>
                    -internals.execute({"name":"reloadCat"});
                <label>By keyword:</label>
                <input type="text" id="keywords" value="{{memory.myKeywords.value}}" @internals.setMemory({"name":"myKeywords","value":"{{!queue.getElement('#keywords').value}}","mode":"Permanent"},{"queueEvent":"change,keydown"});>
                    -internals.execute({"name":"reloadCat"});
            </div>
        </form>
        <hr class="no-lg-res">
    </section>
    <section class="main-content">
        <ul class="results-item-list">

        </ul>
    </section>
</script>

<script id="page-content-results" type="text/html">
    {{#for memory.points.value.packet.features}}
        {{#include '#page-content-results-'+memory.points.value.packet.features[#loop0].properties.category}}
    {{/for}}
</script>

<script id="page-content-results-Planning" type="text/html">
    <li>
        <div class="distance-from">
            <span class="miles-no">{{(parseFloat(memory.points.value.packet.features[#loop0].properties.distance)/1609).toFixed(1);}}</span>
            <em>miles</em>
        </div>
        <div class="item-detail">
            <h4>Reference:{{memory.points.value.packet.features[#loop0].properties.description.ref}}</h4>
            <address>{{memory.points.value.packet.features[#loop0].properties.description.name}}</address>
            <a href="#">View details</a>
        </div>
    </li>
</script>

<script id="page-content-results-Events" type="text/html">
    <li>
        <div class="distance-from">
            <span class="miles-no">{{(parseFloat(memory.points.value.packet.features[#loop0].properties.distance)/1609).toFixed(1);}}</span>
            <em>miles</em>
        </div>
        <div class="item-detail">
            <h4>Cost:{{memory.points.value.packet.features[#loop0].properties.description.cost}}</h4>
            <address>{{memory.points.value.packet.features[#loop0].properties.description.title}}</address>
            <a href="#">View details</a>
        </div>
    </li>
</script>