<!-- Init called at startup -->

<script id="init" type="text/html">
    <!-- Setup the app -->
    @api.websocketInit({"url":"{{config.ws}}"},{"queueRun":"fail-Instant"});
    -api.websocketSend({"message":{"queue":"session","api":"session"}});
    -locus.defaultValues();
    -templates.render({"targetId":"#header-target","template":"#header"});
    -templates.render({"targetId":"#subheading-target","template":"#subheading-text"});
    -menu.initMenu({"targetId":"#menubutton1"});
    -templates.render({"targetId":"#location-target","template":"#postcode-search"});
    -browser.initHistory({"checkURL":true,"default":"Home"});
    -openlayers.addMap({"target":"backMap","projection":"EPSG:3857","zoom":17,"maxZoom":17});
    -openlayers.addLayer({"name":"xyz","type":"xyz","url":"https://tiles.nautoguide.com/redistrict/LayerGroupInfoImpl-2e2d13db:172793e1071:-7110/EPSG:900913/png/default/{z}/{x}/{-y}.png","active":true});
    -openlayers.addLayer({"name":"points","type":"vector","style":"styles.mainMapStyle"});
    -openlayers.centerOnCoordinate({"coordinate":"{{!memory.myLocation.value}}"});

    @templates.render({"targetId":"#content-target","template":"#home-content"},{"queuePrepare":"historyHome"});
    -internals.setMemory({"name":"updateQueueToRun","value":"nothingToUpdate","mode":"Session"});
    -elements.addClass({"targetId":"body","class":"on-home"});
    -browser.setTitle({"title":"Surrey Heath Borough Council: Home"});


    @api.websocketSend({"message":{"queue":"historyCat2","api":"api","data":{"method":"list_categories_with_data","category":"{{!memory.history.value[0]}}"}}},{"queuePrepare":"historyCat"});
    @templates.render({"targetId":"#content-target","template":"#page-content"},{"queuePrepare":"historyCat2"});
    -internals.setMemory({"name":"updateQueueToRun","value":"reloadCat","mode":"Session"});
    -internals.execute({"name":"reloadCat"});
    -elements.removeClass({"targetId":"body","class":"on-home"});
    -elements.ariaHiddenToggle({"targetId":".button-back","class":"inactive","mode":"remove"});
    -openlayers.updateSize({});
    -browser.setTitle({"title":"Surrey Heath Borough Council: {{!memory.history.value[0]}}"});
    -elements.focus({"targetId":".results-item-list"});



    @api.websocketSend({"message":{"queue":"historyReportRender","api":"api","data":{"method":"report","report_name":"{{!memory.history.value[0]}}","location":"{{!memory.myLocation.value}}"}}},{"queuePrepare":"historyReport"});
    @templates.render({"targetId":"#content-target","template":"#report_display"},{"queuePrepare":"historyReportRender"});
    -internals.setMemory({"name":"updateQueueToRun","value":"historyReport","mode":"Session"});
    -elements.removeClass({"targetId":"body","class":"on-home"});
    -elements.ariaHiddenToggle({"targetId":".button-back","class":"inactive","mode":"remove"});
    -openlayers.addMap({"map":"itemMap","target":"openlayersItemMap","projection":"EPSG:3857","maxZoom":17});
    -browser.setTitle({"title":"Surrey Heath Borough Council: Democracy"});
    -openlayers.addLayer({"map":"itemMap","name":"xyz","type":"xyz","url":"https://tiles.nautoguide.com/redistrict/LayerGroupInfoImpl-2e2d13db:172793e1071:-7110/EPSG:900913/png/default/{z}/{x}/{-y}.png","active":true});
    -openlayers.addLayer({"map":"itemMap","name":"location","type":"vector","style":"styles.locationStyle","geojson":{"type":"FeatureCollection","features":[{"geometry":{"type":"Point","coordinates":["{{!^memory.myPoint.value}}"]},"type":"Feature"}]}});

    -openlayers.addLayer({"map":"itemMap","name":"points","type":"vector","style":"styles.mainMapStyle","geojson":"*memory.historyReportRender.value.packet.geojson"});
    -openlayers.zoomToLayerExtent({"map":"itemMap","layer":"points","buffer":50});


    @api.websocketSend({"message":{"queue":"historyDetailsRender","api":"api","data":{"method":"get_item","fid":"{{!^memory.history.value[1]}}"}}},{"queuePrepare":"historyDetails"});
    @templates.render({"targetId":"#content-target","template":"#full-details-{{!memory.history.value[0]}}"},{"queuePrepare":"historyDetailsRender"});
    -internals.setMemory({"name":"updateQueueToRun","value":"historyDetailsRender","mode":"Session"});
    -elements.removeClass({"targetId":"body","class":"on-home"});
    -elements.ariaHiddenToggle({"targetId":".button-back","class":"inactive","mode":"remove"});
    -browser.setTitle({"title":"Surrey Heath Borough Council: {{!memory.history.value[0]}} - {{!memory.history.value[1]}}"});
    -openlayers.addMap({"map":"itemMap","target":"openlayersItemMap","projection":"EPSG:3857","maxZoom":17});
    -openlayers.addLayer({"map":"itemMap","name":"xyz","type":"xyz","url":"https://tiles.nautoguide.com/redistrict/LayerGroupInfoImpl-2e2d13db:172793e1071:-7110/EPSG:900913/png/default/{z}/{x}/{-y}.png","active":true});
    -openlayers.addLayer({"map":"itemMap","name":"location","type":"vector","style":"styles.locationStyle","geojson":{"type":"FeatureCollection","features":[{"geometry":{"type":"Point","coordinates":["{{!^memory.myPoint.value}}"]},"type":"Feature"}]}});
    -openlayers.addLayer({"map":"itemMap","name":"points","type":"vector","style":"styles.mainMapStyle","geojson":"*memory.historyDetailsRender.value.packet"});

    -openlayers.zoomToLayerExtent({"map":"itemMap","layer":"points","buffer":50});

    @internals.ifqueue({"statement":"memory.history&&memory.history.value[3]","name":"reloadCatFilters","else":"reloadCatNoFilters" },{"queuePrepare":"reloadCat"});
    @api.websocketSend({"message":{"queue":"points","api":"api","data":{"method":"pointsearch","filter":{"type":"{{!memory.history&&memory.history.value[3]?decodeURI(memory.history.value[3]):''}}"},"search_text":"{{!memory.history&&memory.history.value[1]?memory.history.value[1]:''}}","location_distance":"{{!^memory.history&&memory.history.value[2]? distanceActual(memory.history.value[2]):distanceActual(1)}}","category":"{{!!memory.history||memory.history.value[0]==='Find'? '*':decodeURI(memory.history.value[0])}}","limit":100,"location":"{{!memory.myLocation.value}}" }}},{"queuePrepare":"reloadCatFilters"});
    @api.websocketSend({"message":{"queue":"points","api":"api","data":{"method":"pointsearch","search_text":"{{!memory.history&&memory.history.value[1]?memory.history.value[1]:''}}","location_distance":"{{!^memory.history&&memory.history.value[2]? distanceActual(memory.history.value[2]):distanceActual(1)}}","category":"{{!!memory.history||memory.history.value[0]==='Find'? '*':decodeURI(memory.history.value[0])}}","limit":100,"location":"{{!memory.myLocation.value}}" }}},{"queuePrepare":"reloadCatNoFilters"});

    <!-- turn postcode into location -->
    @api.websocketSend({"message":{"queue":"postcode","api":"api","data":{"method":"address_search","address":"{{!memory.myPostcode.value}}"}}},{"queuePrepare":"getLocation"});

    @internals.ifqueue({"statement":"memory.postcode.value.packet.features.length>0","name":"locationGood","else":"locationBad"},{"queuePrepare":"postcode"});

    @internals.setMemory({"name":"myLocation","value":"SRID=4326;POINT({{!memory.postcode.value.packet.features[0].geometry.coordinates[0]}} {{!memory.postcode.value.packet.features[0].geometry.coordinates[1]}})","mode":"Permanent"},{"queuePrepare":"locationGood"});
    -internals.setMemory({"name":"myPoint","value":["{{!^memory.postcode.value.packet.features[0].geometry.coordinates}}"],"mode":"Permanent"});
    -internals.setMemory({"name":"myPostcode","value":"{{!memory.postcode.value.packet.features[0].properties.postcode}}","mode":"Permanent"});
    -internals.setMemory({"name":"myPostcodeText","value":"{{!memory.postcode.value.packet.features[0].properties.title}}","mode":"Permanent"});
    -elements.innerHTML({"targetId":".user-entered","html":"{{!memory.myPostcodeText.value}}"});
    -locus.postcodeDisplay({"text":"{{!queue.getElement('#postcode').value}}"});
    -elements.innerHTML({"targetId":".postcode-field-static","html":"{{!memory.myPostcode.value}}"});
    -elements.addClass({"targetId":".postcode-field","class":"hidden"});
    -elements.removeClass({"targetId":".postcode-field-static","class":"hidden"});
    -elements.setInputValue({"targetId":"#postcode","value":"{{!memory.myPostcode.value}}"});
    -openlayers.flyTo({"coordinate":"{{!memory.myLocation.value}}"});
    -internals.execute({"name":"{{!memory.updateQueueToRun.value}}"});
    -elements.removeClass({"targetId":"body","class":"open-loc"});

    @elements.addClass({"targetId":".your-current-postcode","class":"has-error"},{"queuePrepare":"locationBad"});

    @elements.addClass({"targetId":".location-text","class":"hidden"},{"queuePrepare":"hideLocationHint"});
    @elements.removeClass({"targetId":".location-text","class":"hidden"},{"queuePrepare":"showLocationHint"});

    <!-- Form updater -->
    @elements.getCheckBoxValues({"mode":"string","targetId":".functionGetTypes"},{"queuePrepare":"updateSearch"});>
    -internals.setMemory({"name":"unit","value":"{{!queue.getElement('#distance-unit').value}}","mode":"Permanent"});
    -browser.addHistory({"history":"Cat/{{!memory.history.value[0]}}//{{!queue.getElement('#filter-distance').value}}/{{!memory.checkboxes.value}}/{{!memory.unit.value}}"});

    <!-- Point search -->

    @templates.render({"targetId":".results-item-list","template":"#page-content-results","quiet":true},{"queuePrepare":"points"});

    <!-- ws admin stuff -->
    @internals.nop({},{"queuePrepare":"session"});

    @api.websocketInit({"url":"{{config.ws}}"},{"queuePrepare":"wsClose"});

    @templates.render({"targetId":".contain","template":"#network-error"},{"queuePrepare":"wsError"});

</script>

<!-- Template to display in the event the webstocket fails -->

<script id="network-error" type="text/html">
    NETWORK ERROR! Websock has failed, check your network connection!
</script>
