<script id="init" type="text/html">
    <!-- Setup the app -->
    @api.websocketInit({"url":"{{config.ws}}"},{"queueRun":"Instant"});
    -api.websocketSend({"message":{"queue":"session","api":"session"}});
    -locus.defaultValues();
    -templates.render({"targetId":"#header-target","template":"#header"});
    -templates.render({"targetId":"#location-target","template":"#postcode-search"});
<!--
    -w3menu.initMenu({"hover":false,"targetId":"#menubutton1","class":"open-this-menu"});
-->
    -browser.initHistory({"checkURL":true,"default":"Home"});
    -openlayers.addMap({"target":"backMap","projection":"EPSG:27700"});
    -openlayers.addLayer({"name":"wms","type":"wms","url":"https://t3.ads.astuntechnology.com/surreyheath/ospremium/service","params":{"layers":"ospremium"},"active":true});
    -openlayers.addLayer({"name":"points","type":"vector","style":"styles.mainMapStyle"});
    -openlayers.centerOnCoordinate({"coordinate":"{{!memory.myLocation.value}}"});

    @templates.render({"targetId":"#content-target","template":"#home-content"},{"queuePrepare":"historyHome"});
    -elements.addClass({"targetId":"body","class":"on-home"});


    @templates.render({"targetId":"#content-target","template":"#page-content"},{"queuePrepare":"historyCat"});
    -internals.execute({"name":"reloadCat"});
    -elements.removeClass({"targetId":"body","class":"on-home"});

    @api.websocketSend({"message":{"queue":"historyDetailsRender","api":"api","data":{"method":"get_item","fid":"{{!^memory.history.value[1]}}"}}},{"queuePrepare":"historyDetails"});
    @templates.render({"targetId":"#content-target","template":"#full-details-{{!memory.history.value[0]}}"},{"queuePrepare":"historyDetailsRender"});
    -elements.removeClass({"targetId":"body","class":"on-home"});

    @api.websocketSend({"message":{"queue":"points","api":"api","data":{"method":"pointsearch","search_text":"{{!memory.history.value[1]?memory.history.value[1]:''}}","location_distance":"{{!^memory.history.value[2]? (memory.history.value[2]*1609):(100*1609)}}","category":"{{!memory.history.value[0]==='Find'? '*':memory.history.value[0]}}","limit":100,"location":"{{!memory.myLocation.value}}" }}},{"queuePrepare":"reloadCat"});

    <!-- turn postcode into location -->
    @api.websocketSend({"message":{"queue":"postcode","api":"api","data":{"method":"address_search","address":"{{!memory.myPostcode.value}}"}}},{"queuePrepare":"getLocation"});

    @internals.setMemory({"name":"location","value":"SRID=4326;POINT({{!memory.postcode.value.packet.features[0].geometry.coordinates[0]}} {{!memory.postcode.value.packet.features[0].geometry.coordinates[1]}})","mode":"Permanent"},{"queuePrepare":"postcode"});

    <!-- Point search -->

    @templates.render({"targetId":".results-item-list","template":"#page-content-results"},{"queuePrepare":"points"});

    <!-- ws admin stuff -->
    @internals.nop({},{"queuePrepare":"session"});

    @api.websocketInit({"url":"{{config.ws}}"},{"queuePrepare":"wsClose"});
</script>

<script id="header" type="text/html">
    <div>
        <a class="logo" href="/" rel="home" @browser.addHistory({"history":"Home"});>
            <span class="sr-only">Surrey Heath</span>
        </a>

        <button class="button-back" type="button" @browser.backHistory();>
            <span class="sr-only">Back to previous screen</span>
        </button>

        <button id="open-search-mobile" type="button" class="search-site-open" aria-label="Open search" aria-haspopup="true" aria-controls="searchSite" @elements.toggleClass({"targetId":".page-header","class":"open-search"});>
            -elements.removeClass({"targetId":".main-menu","class":"open-this-menu"});
            <span class="sr-only">Open search</span>
        </button>
        <form id="searchSite" class="search-site" aria-label="Search the site for information">
            <div>
                <input id="find" type="text" value="">
                <button class="button-search-site" @browser.addHistory({"history":"Cat/Find/{{!queue.getElement('#find').value}}","force":true});>Find</button>
            </div>
        </form>

        <nav class="main-menu" role="navigation">
            <!-- accessible menu -->
            <!-- removed id="menubutton1" from button -->
            <button id="menubutton1" aria-haspopup="true" aria-controls="menuTop" class="menu-button-actual" @elements.toggleClass({"targetId":".main-menu","class":"open-this-menu"});>
                -elements.removeClass({"targetId":".page-header","class":"open-search"});
                -elements.setAttribute({"targetId":"#menuTop","attribute":"aria-expanded","value":true});
                <span class="sr-only">Open main menu</span>
            </button>
            <div class="clip-menu open-this-menu">
                <ul id="menuTop" class="menu-options" role="menu" aria-labelledby="menubutton1">
                    <li role="menuitem" @browser.addHistory({"history":"Home"});>Home</li>
                        -elements.removeClass({"targetId":".main-menu","class":"open-this-menu"});
                        -elements.removeClass({"targetId":".page-header","class":"open-search"});
                        -elements.setAttribute({"targetId":"#menuTop","attribute":"aria-expanded","value":false});
                    <li role="menuitem" @browser.addHistory({"history":"Cat/Planning"});>Planning</li>
                        -elements.removeClass({"targetId":".main-menu","class":"open-this-menu"});
                        -elements.removeClass({"targetId":".page-header","class":"open-search"});
                        -elements.setAttribute({"targetId":"#menuTop","attribute":"aria-expanded","value":false});
                    <li role="menuitem" @browser.addHistory({"history":"Cat/Democracy"});>Democracy</li>
                        -elements.removeClass({"targetId":".main-menu","class":"open-this-menu"});
                        -elements.removeClass({"targetId":".page-header","class":"open-search"});
                        -elements.setAttribute({"targetId":"#menuTop","attribute":"aria-expanded","value":false});
                    <li role="menuitem" @browser.addHistory({"history":"Cat/Events"});>Events</li>
                        -elements.removeClass({"targetId":".main-menu","class":"open-this-menu"});
                        -elements.removeClass({"targetId":".page-header","class":"open-search"});
                        -elements.setAttribute({"targetId":"#menuTop","attribute":"aria-expanded","value":false});
                    <li role="menuitem" @browser.addHistory({"history":"Cat/Community"});>Community</li>
                        -elements.removeClass({"targetId":".main-menu","class":"open-this-menu"});
                        -elements.removeClass({"targetId":".page-header","class":"open-search"});
                        -elements.setAttribute({"targetId":"#menuTop","attribute":"aria-expanded","value":false});
                    <li role="menuitem"><a href="">Help</a></li>
                </ul>
            </div>
        </nav>
    </div>
</script>

<script id="postcode-search" type="text/html">
    <div id="backMap"></div>

    <form class="your-current-postcode">
        <label for="postcode">Your location is set to:</label>
        <input id="postcode" class="postcode-field" value="{{memory.myPostcode.value}}">

        <button type="button" class="change-postcode edit-loc" aria-label="Open search" aria-haspopup="true" aria-controls="searchSite" @elements.toggleClass({"targetId":"body","class":"open-loc"});>
            Change your location
        </button>

        <!-- should this be submit? -->
        <button type="button" class="change-postcode set-loc" aria-label="Open search" aria-haspopup="true" aria-controls="searchSite" @elements.toggleClass({"targetId":"body","class":"open-loc"});>
                -internals.setMemory({"name":"myPostcode","value":"{{!queue.getElement('#postcode').value}}","mode":"Permanent"});
                -api.websocketSend({"message":{"queue":"postcode","api":"api","data":{"method":"address_search","address":"{{!queue.getElement('#postcode').value}}"}}});
                -internals.execute({"name":"reloadCat"});
            Set this as your location
        </button>
    </form>
</script>

<script id="home-content" type="text/html">

    <section class="side-panel">

    </section>
    <section class="main-content">
        <h1>Welcome to Surrey Heath's community mapping tool</h1>
        <p>A short explanatory message encouraging users to set their location and explore one (or all) of the 4 channels below: </p>
        <section class="channels">
            <div class="channel channel-planning">
                <img src="images/channel-planning.jpg" title="" alt="">
                <h2>Planning</h2>
                <p><strong>Conservation Areas / TPO / Planning Applications</strong></p>
                <p>To gain access to 'types / sub classifications' of Planning information.</p>

                <button type="button" class="explore-channel" aria-label="Explore planning applications near this postcode" aria-haspopup="true" aria-controls="searchSite" @browser.addHistory({"history":"Cat/Planning"});>
                    Explore
                </button>
            </div>
            <div class="channel channel-democracy">
                <img src="images/channel-democracy.jpg" title="" alt="">
                <h2>Democracy</h2>
                <p><strong>Conservation Areas / TPO / Planning Applications</strong></p>
                <p>To gain access to 'types / sub classifications' of Planning information.</p>
                <button class="explore-channel"  @browser.addHistory({"history":"Cat/Democracy"});>Explore</button>
            </div>
            <div class="channel channel-events">
                <img src="images/channel-events.jpg" title="" alt="">
                <h2>Events</h2>
                <p><strong>Conservation Areas / TPO / Planning Applications</strong></p>
                <p>To gain access to 'types / sub classifications' of Planning information.</p>
                <button class="explore-channel"  @browser.addHistory({"history":"Cat/Events"});>Explore</button>
            </div>
            <div class="channel channel-community">
                <img src="images/channel-community.jpg" title="" alt="">
                <h2>Community</h2>
                <p><strong>Conservation Areas / TPO / Planning Applications</strong></p>
                <p>To gain access to 'types / sub classifications' of Planning information.</p>
                <button class="explore-channel" @browser.addHistory({"history":"Cat/Community"});>Explore</button>
            </div>

        </section>
    </section>

</script>

<script id="page-content" type="text/html">
    {{#include '#page-content-'+memory.history.value[0]}}


</script>

<script id="page-content-filter" type="text/html">
    <p class="no-mb">What the user is doing here, why they are doing it and how they go about doing it better.</p>
    <p class="results-number">Results for 0 - 80 miles</p>
    <button type="button" class="show-filters no-lg-res" aria-label="Open search" aria-haspopup="true" aria-controls="searchSite" @elements.toggleClass({"targetId":"body","class":"open-filters"});>
    Show/hide filters
    </button>
    <form class="search-filters">
        <div>
            <p><strong>Filter these results:</strong></p>
            <label>By distance:</label>
            <input type="number" id="distance" value="{{memory.history.value[2]?memory.history.value[2]:100}}" @browser.addHistory({"history":"Cat/{{memory.history.value[0]}}/{{!queue.getElement('#keywords').value}}/{{!queue.getElement('#distance').value}}"},{"queueEvent":"change,keydown"});>
             <label>By keyword:</label>
            <input type="text" id="keywords" value="{{memory.history.value[1]?memory.history.value[1]:''}}" @browser.addHistory({"history":"Cat/{{memory.history.value[0]}}/{{!queue.getElement('#keywords').value}}/{{!queue.getElement('#distance').value}}"},{"queueEvent":"change,keydown"});>
        </div>
    </form>
    <hr class="no-lg-res">
</script>


<script id="page-content-result-main" type="text/html">
    <section class="main-content">
        <ul class="results-item-list">

        </ul>
    </section>
</script>

<script id="page-content-Find" type="text/html">
    <section class="side-panel">
        <img src="images/channel-planning.jpg" title="" alt="" class="no-mb">
        <h2>Find</h2>
        {{#include '#page-content-filter'}}
    </section>
    {{#include '#page-content-result-main'}}
</script>

<script id="page-content-Planning" type="text/html">
    <section class="side-panel">
        <img src="images/channel-planning.jpg" title="" alt="" class="no-mb">
        <h2>{{memory.history.value[0]}}</h2>
        {{#include '#page-content-filter'}}
    </section>
    {{#include '#page-content-result-main'}}
</script>

<script id="page-content-Democracy" type="text/html">
    <section class="side-panel">
        <img src="images/channel-democracy.jpg" title="" alt="" class="no-mb">
        <h2>{{memory.history.value[0]}}</h2>
        {{#include '#page-content-filter'}}
    </section>
    {{#include '#page-content-result-main'}}
</script>

<script id="page-content-Community" type="text/html">
    <section class="side-panel">
        <img src="images/channel-community.jpg" title="" alt="" class="no-mb">
        <h2>{{memory.history.value[0]}}</h2>
        {{#include '#page-content-filter'}}
    </section>
    {{#include '#page-content-result-main'}}
</script>


<script id="page-content-Events" type="text/html">
    <section class="side-panel">
        <img src="images/channel-events.jpg" title="" alt="" class="no-mb">
        <h2>{{memory.history.value[0]}}</h2>
        {{#include '#page-content-filter'}}
    </section>
    {{#include '#page-content-result-main'}}
</script>

<script id="page-content-results" type="text/html">
    {{#if memory.points.value.packet.features.length===0}}
        <li>
            No results
        </li>
    {{/if}}
    {{#for memory.points.value.packet.features}}
        {{#if ['Planning','Events','Community','Democracy'].indexOf(memory.points.value.packet.features[#loop0].properties.category)!==-1}}
            {{#include '#page-content-results-'+memory.points.value.packet.features[#loop0].properties.category}}
        {{else}}
            {{#include '#page-content-results-Generic'}}
        {{/if}}
    {{/for}}
</script>

<script id="page-content-results-Planning" type="text/html">
    <li>
        <div class="distance-from">
            <span class="miles-no">{{(parseFloat(memory.points.value.packet.features[#loop0].properties.distance)/1609).toFixed(1);}}</span>
            <em>miles</em>
        </div>
        <div class="item-detail">
            <h4>Reference:{{memory.points.value.packet.features[#loop0].properties.description.ref}}</h4>
            <address>{{memory.points.value.packet.features[#loop0].properties.description.name}}</address>
            <a href="#" @browser.addHistory({"history":"Details/{{memory.points.value.packet.features[#loop0].properties.category}}/{{memory.points.value.packet.features[#loop0].properties.fid}}"});>View details</a>
        </div>
    </li>
</script>

<script id="page-content-results-Events" type="text/html">
    <li>
        <div class="distance-from">
            <span class="miles-no">{{(parseFloat(memory.points.value.packet.features[#loop0].properties.distance)/1609).toFixed(1);}}</span>
            <em>miles</em>
        </div>
        <div class="item-detail">
            <h4>Cost:{{memory.points.value.packet.features[#loop0].properties.description.cost}}</h4>
            <address>{{memory.points.value.packet.features[#loop0].properties.description.title}}</address>
            <a href="#" @browser.addHistory({"history":"Details/{{memory.points.value.packet.features[#loop0].properties.category}}/{{memory.points.value.packet.features[#loop0].properties.fid}}"});>View details</a>
        </div>
    </li>
</script>

<script id="page-content-results-Community" type="text/html">
    <li>
        <div class="distance-from">
            <span class="miles-no">{{(parseFloat(memory.points.value.packet.features[#loop0].properties.distance)/1609).toFixed(1);}}</span>
            <em>miles</em>
        </div>
        <div class="item-detail">
            <h4>Cost:{{memory.points.value.packet.features[#loop0].properties.description.cost}}</h4>
            <address>{{memory.points.value.packet.features[#loop0].properties.description.title}}</address>
            <a href="#" @browser.addHistory({"history":"Details/{{memory.points.value.packet.features[#loop0].properties.category}}/{{memory.points.value.packet.features[#loop0].properties.fid}}"});>View details</a>
        </div>
    </li>
</script>

<script id="page-content-results-Democracy" type="text/html">
    <li>
        <div class="distance-from">
            <span class="miles-no">{{(parseFloat(memory.points.value.packet.features[#loop0].properties.distance)/1609).toFixed(1);}}</span>
            <em>miles</em>
        </div>
        <div class="item-detail">
            <h4>Cost:{{memory.points.value.packet.features[#loop0].properties.description.cost}}</h4>
            <address>{{memory.points.value.packet.features[#loop0].properties.description.title}}</address>
            <a href="#" @browser.addHistory({"history":"Details/{{memory.points.value.packet.features[#loop0].properties.category}}/{{memory.points.value.packet.features[#loop0].properties.fid}}"});>View details</a>
        </div>
    </li>
</script>

<script id="page-content-results-Generic" type="text/html">
    <li>
        <div class="distance-from">
            <span class="miles-no">{{(parseFloat(memory.points.value.packet.features[#loop0].properties.distance)/1609).toFixed(1);}}</span>
            <em>miles</em>
        </div>
        <div class="item-detail">
            <h4>Category:{{memory.points.value.packet.features[#loop0].properties.category}}</h4>
            <address>{{memory.points.value.packet.features[#loop0].properties.description.name}}</address>
            <a href="#" @browser.addHistory({"history":"Details/{{memory.points.value.packet.features[#loop0].properties.category}}/{{memory.points.value.packet.features[#loop0].properties.fid}}"});>View details</a>
        </div>
    </li>
</script>

<script id="full-details-Generic" type="text/html">
    <section class="side-panel details">
        <h6 class="items-channel-heading">Generic</h6>
        <p class="item-overview-title">
            Item overview title
        </p>
        <p class="item-overview-detail">
            Item overview detail
        </p>
    </section>
    <section class="main-content details">
        <h4>Item title</h4>
        <p><strong>Details:</strong></p>
        <div class="item-main-info">
            <p>Detailed information about the item</p>
        </div>
        <p><strong>Location:</strong></p>
        <div class="item-main-map">

        </div>
    </section>
</script>

<script id="full-details-Planning" type="text/html">
    <section class="side-panel details">
        <h6 class="items-channel-heading items-planning">Planning</h6>
        <address>
            Unit 9 Trade City Frimley Lyon Way
            Frimley Camberley Surrey GU16 7AL
        </address>
        <p class="distance-from-details">
            5 miles from your location
        </p>
        <p class="item-type">
            Type: Application
        </p>
        <p class="item-ref">
            Ref: 19/0379
        </p>
        <a href="/" title="Link to an external resource" target="_blank">
            View full application
        </a>
    </section>
    <section class="main-content details">
        <h4>Reference: 19/0379</h4>
        <p><strong>Overview:</strong></p>
        <div class="item-main-info">
            <p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam lobortis iaculis magna, <em>ut sollicitudin neque suscipit ac</em>. Vivamus laoreet sem eleifend nibh convallis, a faucibus nibh interdum. Nunc efficitur placerat ligula non efficitur. <a href="">Donec ultrices dictum nisl</a>, sit amet consequat metus convallis euismod. Duis aliquam orci et felis maximus, ut ultricies purus suscipit. Sed ornare tellus in nulla placerat consectetur. Morbi varius nec risus ut dapibus. </p>
        </div>
        <p><strong>Location:</strong></p>
        <div class="item-main-map">

        </div>
    </section>
</script>

<script id="full-details-Democracy" type="text/html">
    <section class="side-panel details">
        <h6 class="items-channel-heading items-democracy">Democracy</h6>
        <p class="item-overview-title">
            Your ward/parish:
        </p>
        <p class="item-overview-detail">
            Chobham West
        </p>
        <p class="item-overview-title">
            Your contact/councillor/rep:
        </p>
        <p class="item-overview-detail">
            Montgomery Davies
        </p>
        <p class="item-overview-title">
            Your council tax:
        </p>
        <p class="item-overview-detail">
            Band A
        </p>
        <p class="item-overview-title">
            Your MP:
        </p>
        <p class="item-overview-detail">
            Susan Chesterfield MP
        </p>
        <p class="item-overview-title">
            Your polling station(??):
        </p>
        <p class="item-overview-detail">
            Cobham Community Centre
        </p>
    </section>
    <section class="main-content details">
        <h4>Item title</h4>
        <p><strong>Details:</strong></p>
        <div class="item-main-info">
            <p>Detailed information about the item</p>
        </div>
        <p><strong>Location(s):</strong></p>
        <div class="item-main-map">

        </div>
    </section>
</script>

<script id="full-details-Events" type="text/html">
    <section class="side-panel details">
        <h6 class="items-channel-heading items-events">Events</h6>
        <address>
            Chobham Village Hall, Station Road, Chobham GU24 8AZ
        </address>
        <p class="distance-from-details">
            5 miles from your location
        </p>
        <time>
            Saturday, 28 September, 2019 - 19:00
        </time>
        <p class="item-type">
            Type: Entertainment
        </p>
        <a href="/" title="Link to an external resource" target="_blank">
            Read more about this
        </a>
    </section>
    <section class="main-content details">
        <h4>Jazz at Chobham Festival</h4>
        <p><strong>Details:</strong></p>
        <div class="item-main-info">
            <p>Trumpeter and band leader Dave Stradwick has gathered some of the finest exponents of the New Orleans style playing today to create his Sussex Jazz Kings a line-up of talent on trumpet, trombone, clarinet, drums, string bass/sousaphone and banjo. The Jazzers are seasoned favourites at the Festival, blending serious musicianship with fun, humour and a packed dance floor. It should be a great party.</p>
            <p>You can book online at <a href="#">www.festival.chobham.org</a></p>
        </div>
        <p><strong>Location:</strong></p>
        <div class="item-main-map">

        </div>
    </section>
</script>

<script id="full-details-Community" type="text/html">
    <section class="side-panel details">
        <h6 class="items-channel-heading items-community">Community</h6>
        <address>
            Watchetts Drive, Camberley, GU15 2PQ
        </address>
        <p class="distance-from-details">
            5 miles from your location
        </p>
        <p class="item-type">
            Type: Community Hall
        </p>
        <a href="/" title="Link to an external resource" target="_blank">
            Read more about this
        </a>
    </section>
    <section class="main-content details">
        <h4>Kings International College for Business and the Arts</h4>
        <p><strong>Details:</strong></p>
        <div class="item-main-info">
            <p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam lobortis iaculis magna, <em>ut sollicitudin neque suscipit ac</em>. Vivamus laoreet sem eleifend nibh convallis, a faucibus nibh interdum. Nunc efficitur placerat ligula non efficitur. <a href="">Donec ultrices dictum nisl</a>, sit amet consequat metus convallis euismod. Duis aliquam orci et felis maximus, ut ultricies purus suscipit. Sed ornare tellus in nulla placerat consectetur. Morbi varius nec risus ut dapibus. </p>
        </div>
        <p><strong>Location:</strong></p>
        <div class="item-main-map">

        </div>
    </section>
</script>

