<!--
Home page / general layout
-->

<script id="header" type="text/html">
    <div class="top-b">
        <a class="logo" href="/" rel="home" @browser.addHistory({"history":"Home"});>
        <span class="sr-only">Surrey Heath Borough Council</span>
        </a>

        <button class="button-back inactive" type="button" @browser.backHistory();>
            <span class="sr-only">Back to previous screen</span>
        </button>

        <nav class="main-menu" role="navigation">
            <button id="menubutton1" aria-haspopup="true" aria-controls="menuTop" class="menu-button-actual">
                <span class="sr-only">Open main menu</span>
            </button>
            <div class="clip-menu open-this-menu" tabindex="-1">
                <ul id="menuTop" tabindex="0" class="menu-options" role="menu" aria-labelledby="menubutton1">
                    <li role="menuitem"  tabindex="0" aria-label="Home" @browser.addHistory({"history":"Home"});>Home</li>
                    <li role="menuitem"  tabindex="0" aria-label="Planning" @browser.addHistory({"history":"Cat/Planning"});>Planning</li>
                    <li role="menuitem"  tabindex="0" aria-label="Democracy" @browser.addHistory({"history":"Report/democracy_location"});>Democracy</li>
                    <!--
                                        <li role="menuitem"  tabindex="0" aria-label="Events" @browser.addHistory({"history":"Cat/Events"});>Events</li>
                    -->
                    <li role="menuitem"  tabindex="0" aria-label="Community" @browser.addHistory({"history":"Cat/Community"});>Community</li>
                </ul>
            </div>
        </nav>
    </div>

</script>

<script id="subheading-text" type="text/html">
    <div class="title-text">
        <h1>Learn more about your location</h1>
        <p>Enter an address or postcode<br> to find information about that area</p>
    </div>
</script>

<script id="postcode-search" type="text/html">
    <div id="backMap" class="map-background"></div>

    <form class="your-current-postcode">
        <label class="label-loc-is-set" for="postcode">showing information about:</label>
        <label class="label-loc-is-edit" for="postcode">change this location to:</label>
        <span class="location-text">"<span class="user-entered">{{memory.myPostcodeText.value}}</span>"</span>
        <span class="postcode-field-static">{{memory.myPostcode.value}}</span>
        <input id="postcode" class="postcode-field hidden" value="{{memory.myPostcode.value}}" @elements.removeClass({"targetId":".your-current-postcode","class":"has-error"},{"queueEvent":"focus"});>
        <span class="error-msg">unknown location</span>
        <button type="button" class="change-postcode edit-loc" aria-label="Open search" aria-haspopup="true" @elements.addClass({"targetId":"body","class":"open-loc"});>
        -elements.removeClass({"targetId":".your-current-postcode","class":"has-error"},{"queuePrepare":"locationBad"});
        -elements.removeClass({"targetId":".postcode-field","class":"hidden"});
        -elements.addClass({"targetId":".postcode-field-static","class":"hidden"});
        Change location
        </button>
        <div class="edit-loc-b-panel">
            <button type="button" class="change-postcode can-loc" aria-label="Open search" aria-haspopup="true" aria-controls="searchSite" @elements.removeClass({"targetId":"body","class":"open-loc"});>
            -elements.setInputValue({"targetId":"#postcode","value":"{{!memory.myPostcode.value}}"});
            -elements.addClass({"targetId":".postcode-field","class":"hidden"});
            -elements.removeClass({"targetId":".postcode-field-static","class":"hidden"});
            Cancel
            </button>
            <button type="button" id="functionSaveButtonFocus" class="change-postcode set-loc" aria-label="Open search" aria-haspopup="true" aria-controls="searchSite" @api.websocketSend({"message":{"queue":"postcode","api":"api","data":{"method":"address_search","address":"{{!queue.getElement('#postcode').value}}"}}});>
            Save location
            </button>
        </div>

    </form>
    @api.websocketSend({"message":{"queue":"postcode","api":"api","data":{"method":"address_search","address":"{{!queue.getElement('#postcode').value}}"}}},{"queueEvent":"keydown","queueBindTarget":"#postcode"});
    -elements.focus({"targetId":"#functionSaveButtonFocus"});
</script>

<script id="home-content" type="text/html">

    <section class="side-panel">

    </section>
    <section class="main-panel">
        <p>Click on one of the channels below to find out more about your selected location.</p>
        <section class="channels">
            <div class="channel channel-planning">
                <img src="images/channel-planning.jpg" title="An image illustrating the 'Planning' channel of information" alt="An image of a house" @browser.addHistory({"history":"Cat/Planning"});>
                <h2>Planning</h2>
                <p>Find all Conservation Areas, Tree Preservation Orders, Listed Buildings and view Planning Applications received within the last 7 days.</p>
                <button type="button" class="explore-channel" aria-label="Explore planning applications near this postcode" @browser.addHistory({"history":"Cat/Planning"});>
                Explore
                </button>
            </div>
            <div class="channel channel-democracy">
                <img src="images/channel-democracy.jpg" title="An image illustrating the 'Democracy' channel of information" alt="An image of a ballot box" @browser.addHistory({"history":"Report/democracy_location"});>
                <h2>Democracy</h2>
                <p>Find information about wards, parishes, councillors, MPs, polling stations and council tax in your selected location.</p>
                <button class="explore-channel" aria-label="Explore planning applications near this postcode" @browser.addHistory({"history":"Report/democracy_location"});>Explore</button>
            </div>
            <!--            <div class="channel channel-events">-->
            <!--                <img src="images/channel-events.jpg" title="" alt="">-->
            <!--                <h2>Events</h2>-->
            <!--                <p><strong>Information on Events across the Borough and beyond</strong></p>-->
            <!--                <p>To find information of events or 'Whats' on' near to them.</p>-->
            <!--                <button class="explore-channel" aria-label="Explore planning applications near this postcode" @browser.addHistory({"history":"Cat/Events"});>Explore</button>-->
            <!--            </div>-->
            <!--          <div class="channel channel-reported">
                          <img src="images/channel-reported.jpg" title="An image illustrating the 'Reported' channel of information" alt="An image of a traffic cones" @browser.addHistory({"history":"Cat/Reported"});>
                          <h2>Reported</h2>
                          <p>Search what issues have been reported by residents nearby.</p>
                          <button class="explore-channel" aria-label="Explore Local issues reported by the community near the set location" @browser.addHistory({"history":"Cat/Reported"});>Explore</button>
                      </div>-->
            <div class="channel channel-community">
                <img src="images/channel-community.jpg" title="An image illustrating the 'Community' channel of information" alt="An image of a children's slide" @browser.addHistory({"history":"Cat/Community"});>
                <h2>Community</h2>
                <p>Find community halls, toilets, playgrounds nearest to your selected location.</p>
                <button class="explore-channel" aria-label="Explore planning applications near this postcode" @browser.addHistory({"history":"Cat/Community"});>Explore</button>
            </div>
        </section>
    </section>

</script>



<script id="page-content" type="text/html">
    {{#include '#page-content-'+decodeURI(memory.history.value[0]).replace(/ /,'')}}
</script>


<script id="display-distance-units" type="text/html">
    <select id="distance-unit" @internals.execute({"name":"updateSearch"},{"queueEvent":"change"});>
    <option value="miles" {{#if memory.unit.value==="miles"}}selected{{/if}}>Show distance in miles</option>
    <option value="kms" {{#if memory.unit.value==="kms"}}selected{{/if}}>Show distance in kilometres</option>
    </select>
</script>

<script id="page-content-result-main" type="text/html">
    <section class="main-panel">
        <ul class="results-item-list">

        </ul>
    </section>
</script>

<script id="page-content-Find" type="text/html">
    <section class="side-panel">
        <img src="images/channel-search.jpg" title="" alt="" class="no-mb">
        <h2>Find</h2>
        {{#include '#page-content-filter'}}
    </section>
    {{#include '#page-content-result-main'}}
</script>
