<!-- Generic template display IE democracy atm -->

<script id="report_display" type="text/html">
    {{#if memory.historyReportRender.value.packet.items}}
    <section class="side-panel details channel-democracy">
        <h6 class="items-channel-heading">Democracy</h6>
        {{#for memory.historyReportRender.value.packet.items}}
        <p class="item-overview-title">
            {{memory.historyReportRender.value.packet.items[#loop0].title}}
        </p>
        <p class="item-overview-detail">
            {{memory.historyReportRender.value.packet.items[#loop0].value}}
        </p>
        {{/for}}
        <p class="item-overview-title">
            Your Councillor(s)
        </p>
        <p class="item-overview-detail">
            {{#for memory.historyReportRender.value.packet.additionalLinks}}
        <p><a href="{{memory.historyReportRender.value.packet.additionalLinks[#loop0].url}}" target="_blank">{{memory.historyReportRender.value.packet.additionalLinks[#loop0].title}}</a></p>
        {{/for}}
        </p>
    </section>
    <section class="main-panel details item-democracy">
        <h4>{{memory.historyReportRender.value.packet.subTitle}}</h4>
        <p><strong>About this ward</strong></p>
        <div class="item-main-info">
            <p>{{memory.historyReportRender.value.packet.description}}</p>
        </div>
        <div class="map-with-controls">
            <div id="openlayersItemMap" class="item-main-map">

            </div>
            <button class="details-map-button button-home-map" @openlayers.zoomToLayerExtent({"map":"itemMap","layer":"location","buffer":50});>
            Current location
            </button>
            <button class="details-map-button button-reset-map" @openlayers.zoomToLayerExtent({"map":"itemMap","layer":"points","buffer":50});>
            Reset map
            </button>
        </div>
    </section>
    {{else}}
    <section class="side-panel details channel-democracy">
        <h6 class="items-channel-heading">Democracy</h6>
    </section>
    <section class="main-panel details item-democracy">
        <h4 class="items-channel-heading">Area outside council boundary</h4>
        <p>Your location is set to an area outside the council boundary so we are able to give you a report, please change your location to try again</p>
    </section>
    {{/if}}
</script>
